* {
    box-sizing: border-box;
    font-family: 'Space Mono';
    font-weight: 400;
}

body, #homePage {
    color: #333533;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
}

nav .pure-menu-link {
    color: #ff0000;
    font-weight: bold;
}

button{
    border: none;
}

.pure-menu-list-right{
    float:right;
}

header {
    padding: 1em;
    background-color: #2BAEE7;
    color: #333533;
}

header {

    border-bottom: 1px solid #333533;
}

h1, h2, h3, h4, h5 {
    /*font-family: 'Playfair Display', serif;
    font-weight: 500;*/
    font-family: 'Space Mono';
}

.pure-button-active {
    font-weight: bold;
}

.information{
    border-radius:10px;
    width: 800px;
    height: 500px;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    margin-top: 5%;
    box-shadow: 2px 5px 20px rgba(119,119,119,.5);
    background-color: #06d6a0;

}
.clubs {
    width:60%;
    height:190px;
    padding-top:20px;
    padding-left:15px;
    padding-right:15px;
    margin:auto;
}
.club1 {
    float:left;
    width:180px;
    height:180px;
    background-color:white;
    margin-left:10px;
    box-shadow: 2px 5px 20px rgba(119,119,119,.5);
}
.club2 {
    float:left;
    width:180px;
    height:180px;
    background-color:white;
    margin-left:200px;
    box-shadow: 2px 5px 20px rgba(119,119,119,.5);
}
.club3 {
    float:left;
    width:180px;
    height:180px;
    background-color:white;
    margin-left:200px;
    box-shadow: 2px 5px 20px rgba(119,119,119,.5);
}
.left{
    float:left;
    width:180px;
    height:180px;
    margin-left:1%;
}
.right{
    float: left;
    margin-left:15%;
}
.vl{
    width: 1px;
    background-color: black;
    height: 100%;
    float: left;
}
.info-left{
    float:left;
    width:180px;
    height:180px;
    margin-left:20%;
}
.info-right{
    float: right;
    margin-right:20%;
}
.club-info{
    width: 80%;
    height: 500px;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    margin-top: 5%;
}
.club-name{
    margin-bottom:200px;
}
.userPage{
    height:100%;
    width:100%;
    background-color: #118ab2;
    background-image: linear-gradient(319deg, #118ab2 0%, #06d6a0 37%, #ffd166 100%);
}

html{
    background-color: #fafafa;
    width: 100%;
}

body{
    margin: 0;
    padding-top: 90px;
}

a{
    text-decoration: none;
    color: black;
}

.sectionTitle{
    padding-left: 70px;
    font-weight: 700;
    font-size: 50px;
}

.nav {
    background-color: rgba(45, 45, 45, 0.98);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    backdrop-filter: blur(10px);
  }

.homebtm{
    float: left;
    color: #f2f2f2;
    background-color: transparent;
    text-align: center;
    padding: 27px 40px;
    text-decoration: none;
    font-size: 27px;
    border: none;
    text-align: left;
    font-weight: 700;
  }

.menubtm{
    float: right;
    color: #f2f2f2;
    background-color: transparent;
    text-align: center;
    padding: 35px 40px;
    text-decoration: none;
    font-size: 18px;
    border: none;
  }

  .roundedbanner{
    border-radius: 15px;
    background: #FFFFFF;
    padding: 20px; 
    width: 400px;
    height: 620px;
    margin: left;
    text-align: Left;
    filter: drop-shadow(0rem 0.5rem 0.5rem #E5E5E5);
    display: inline-block;
  }

  .clubList{
    display: inline-block;
    padding: 10px;
    margin-left: 40px;
  }

  .clubListItem{
    border-radius: 15px;
    background: #FFFFFF;
    width: 300px;
    height: 370px;
    margin: left;
    text-align: Left;
    filter: drop-shadow(0rem 0.5rem 0.5rem #E5E5E5);
    display: inline-block;
    padding: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .subtitle{
    margin: 0;
    margin-top: -5%;
  }

  div.horizontalScrollMenu {
    overflow: auto;
    white-space: nowrap;
    margin: auto;
  }

  /*.horizontalScrollMenu::-webkit-scrollbar {
    display: none;
  }*/
  
  div.horizontalScrollMenu a {
    display: inline-block;
    padding: 15px;
    margin-left: 20px;
    text-decoration: none;
  }
