* {
    box-sizing: border-box;
}

body, #homePage {
    color: #333533;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
}

nav .pure-menu-link {
    color: #ff0000;
    font-weight: bold;
}
.pure-menu-list-right{
    float:right;
}

header {
    padding: 1em;
    background-color: #2BAEE7;
    color: #333533;
}

header {

    border-bottom: 1px solid #333533;
}

h1, h2, h3, h4, h5 {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}

.pure-button-active {
    font-weight: bold;
}

.information{
    border-radius:10px;
    width: 800px;
    height: 500px;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    margin-top: 5%;
    box-shadow: 2px 5px 20px rgba(119,119,119,.5);
    background-color: #06d6a0;

}
.clubs {
    width:60%;
    height:190px;
    padding-top:20px;
    padding-left:15px;
    padding-right:15px;
    margin:auto;
}
.club1 {
    float:left;
    width:180px;
    height:180px;
    background-color:white;
    margin-left:10px;
    box-shadow: 2px 5px 20px rgba(119,119,119,.5);
}
.club2 {
    float:left;
    width:180px;
    height:180px;
    background-color:white;
    margin-left:200px;
    box-shadow: 2px 5px 20px rgba(119,119,119,.5);
}
.club3 {
    float:left;
    width:180px;
    height:180px;
    background-color:white;
    margin-left:200px;
    box-shadow: 2px 5px 20px rgba(119,119,119,.5);
}
.left{
    float:left;
    width:180px;
    height:180px;
    margin-left:1%;
}
.right{
    float: left;
    margin-left:15%;
}
.vl{
    width: 1px;
    background-color: black;
    height: 100%;
    float: left;
}
.info-left{
    float:left;
    width:180px;
    height:180px;
    margin-left:20%;
}
.info-right{
    float: right;
    margin-right:20%;
}
.club-info{
    width: 80%;
    height: 500px;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    margin-top: 5%;
}
.club-name{
    margin-bottom:150px;
}
.userPage{
    height:100%;
    width:100%;
    background-color: #118ab2;
    background-image: linear-gradient(319deg, #118ab2 0%, #06d6a0 37%, #ffd166 100%);


}