<!DOCTYPE html>
<html lang="en">

    <head>

        <title>Home page</title>

        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="home.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
        <script src="index.js" defer></script>
    </head>
    <body>

        <div id="homePage" >
        <!-- <div class="topBar">
            <a class="items" href="#home">Home</a>
            <a href="#news">Events</a>
            <a href="#contact">Your clubs</a>
            <a href="#about">Settings</a>
        </div>

 -->
            <header>
                <h1>Uni club pages</h1>
                <nav class="pure-menu pure-menu-horizontal">
                    <ul id="topmenu" class="pure-menu-list">
                        <li class="pure-menu-item" v-for="item in top_menu">
                            <a v-bind:href="item.url" class="pure-menu-link">{{item.title}}</a>
                        </li>
                    </ul>
                    <ul id="rightmenu" class="pure-menu-list">
                        <li class="pure-menu-item" v-for="item in right_menu">
                            <a v-bind:href="item.url" class="pure-menu-link">{{item.title}}</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <div class="sign">

                <h1>hi</h1>

            </div>


            </div>
    </body>

</html>